.navbar-danger {
    --bs-navbar-color: yellow;
    --bs-navbar-hover-color: rgba(255, 222, 33, 0.75);
    --bs-navbar-disabled-color: rgba(255, 222, 33, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: yellow;
    --bs-navbar-brand-hover-color: rgba(255, 222, 33, 0.75);;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}
.gold-medal {
    color: yellow;
}
.silver-medal {
    color: silver;
}
.cu-medal {
    color: darkorange;
}
.drop-shadow {
	filter: drop-shadow(5px 5px 10px #000000);
}